<div class="w-5 h-5">
  <img src="/images/logo-dark.svg" alt="Logo" class="block dark:hidden w-full h-full" />
  <img src="/images/logo-light.svg" alt="Logo" class="hidden dark:block w-full h-full" />
</div> 